
<div class="container">
    <div class="row row-cols-3">
      <div *ngFor="let task of tasks">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://us.123rf.com/450wm/piotrkt/piotrkt1712/piotrkt171216640/93671458-milan-italy-august-10-2017-ey-logo-on-the-website-homepage.jpg?ver=6" />
          </ng-template>
          <h1 style="color: rgb(72, 71, 57);" >
            {{ task.title }}
          </h1>
          <p>
           {{ task.description }} 
            </p>
            <h5 style="color: green;">
              work hours : {{ formatWorkHours(task.workHours) }}
            </h5>
          <ng-template pTemplate="footer">
          </ng-template>
        </div>
      </div>
    </div>